<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.luyinbros.widget">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:appComponentFactory="任意字符"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="org.luyinbros.App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:appComponentFactory">
        <activity android:name="org.luyinbros.demo.IndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.luyinbros.demo.RefreshListActivity" />
        <activity android:name="org.luyinbros.demo.BannerViewActivity">

        </activity>
        <activity android:name="org.luyinbros.demo.SmallWidgetActivity" />
        <activity android:name="org.luyinbros.demo.StatusViewActivity" />
        <activity android:name="org.luyinbros.demo.SimpleListViewActivity" />
        <activity android:name="org.luyinbros.demo.A2ZActivity" />
        <activity android:name="org.luyinbros.demo.dispatcher.TestDispatcherFragmentActivity" />
        <activity android:name="org.luyinbros.demo.RichEditActivity" />
        <activity android:name="org.luyinbros.demo.ViewPagerActivity" />
        <activity android:name="org.luyinbros.demo.VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>

    </application>

</manifest>